<script>
  const scrollDown = () => {
    window.scrollBy({
      left: 0,
      top: 2 * window.innerHeight,
      behavior: 'smooth'
    })
  }
</script>

<div class="bottom-button mobile-nav-button" onclick="scrollDown()">
  Next
</div>

<script>
  const checkIfAtBottom = () => {
    if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
      document.querySelector('.bottom-button').classList.add('hidden');
    } else {
      document.querySelector('.bottom-button').classList.remove('hidden');
    }
  }
  $(window).on('scroll', $.debounce(100, checkIfAtBottom));
  checkIfAtBottom(); // run once on startup
</script>