<div id="photos">
  <div style="background-color: {{site.background_color}}; height: 100vh; width: 100vw;"></div>
  <div id="gradient" style="height: 100vh; width: 100vw"></div>
  {% assign images = site.static_files | where_exp: "image", "image.path contains 'uploads/photos'" %}
  {% for image in images %}
      <div class="image-container" style="background-color: {{ color }};">
        <img alt="image" class="image" src="{{image.path}}"/>
      </div>
      {% if forloop.last == false %}
        <div id="gradient" style="height: 200vh; width: 100vw"></div>
      {% endif %}
  {% endfor %}
  <div id="post-gradient" style="height: 100vh; width: 100vw"></div>
  <div style="background-color: {{site.background_color}}; height: 100vh; width: 100vw;"></div>
</div>

<script>
  window.onload = () => {
    const imageContainers = document.querySelectorAll('.image-container');
    const gradients = document.querySelectorAll('#gradient');

    let previousColor = '{{site.background_color}}';

    imageContainers.forEach((item, i) => {
      const image = item.children[0];
      Vibrant.from(image.currentSrc).getPalette((err, palette) => {
        if (!err) {
          const color = `rgb(${palette.Vibrant.getRgb()})`;
          item.style.backgroundColor = color;
          const gradient = `linear-gradient(${previousColor}, ${color})`;
          gradients[i].style.backgroundImage = gradient;
          if (i === imageContainers.length - 1) {
            const postGradient = `linear-gradient(${color}, {{site.background_color}})`;
            const element = document.querySelector('#post-gradient');
            document.querySelector(
              '#post-gradient',
            ).style.backgroundImage = postGradient;
          }

          previousColor = color;
        }
      });
    });
  };
</script>
