<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {% include topNavButton.html %}
      <div class="wrapper">
        {{ content }}
      </div>
      {% include bottomNavButton.html %}
    </main>

    {%- include footer.html -%}

    <script src="{{ base.url | prepend: site.url }}/assets/js/vibrant.min.js"></script>

  </body>

</html>